.skills {
  // display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  &__skill {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    background: #fff;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    transition: all .15s ease;
  }
  
}
